.adicionar-empresa-container{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto 0;

    ul{
        margin: 15px 0;
    }

    form{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        mat-form-field{
            flex-grow: 1;
            width: 300px;
            margin-right: 20px;    
        }
    }
}